* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.titulo {
    font-size: 36px;
    color: #707070;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
}

.grid {
    overflow: hidden;
}

.grid .tarjeta {
    width: 33.3333%;
    display: inline-block;
    float: left;
    padding: 10px;
}

.tarjeta-contenedor {
    position: relative;
    height: 100%;
    /*background: #AC4DF3;*/
    border-radius: 10px;
    color: #fff;
    transition: .5s all ease;
    border: 5px solid transparent;
    transform-style: preserve-3d;
    perspective: 600px;
}

.tarjeta-contenedor .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    background: #AC4DF3;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: .5s;
    border-radius: 10px;
}

.tarjeta-contenedor .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #AC4DF3;*/
    background: #4d5af3;
    backface-visibility: hidden;
    transition: 0.5s;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tarjeta-contenedor.activo .front {
    transform: rotateY(-180deg);
}

.tarjeta-contenedor.activo .back {
    transform: rotateY(0deg);
}

.tarjeta-contenedor.si {
    cursor: pointer;
}

.tarjeta-contenedor.no-disponible .front,
.tarjeta-contenedor.no-disponible .back {
    background: #000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transition: .3s ease opacity;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.activo {
    display: flex;
}

.overlay.mostrar {
    opacity: 1;
}

.overlay .popup {
    background: #464646;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    width: 90%;
    max-width: 700px;
    text-align: center;
    transition: .3s ease all;
    opacity: 0;
    transform: scale(0);
}

.overlay .popup.activo {
    opacity: 1;
    transform: scale(1);
}

.overlay .popup h2 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
}

.overlay .popup p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

.overlay .popup button {
    outline: none;
    border: none;
    width: 70%;
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.cerrar-sesion {
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    background: #000;
    border-radius: 10px;
    text-align: center;
}

.cerrar-sesion:hover {
    color: rgba(255,255,255,0.5);
}
